{% load static %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
   <!-- Brand Logo -->
  
    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="info">
          <a href="#" class="d-block">Admin</a>
        </div>
      </div> 

      
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a href="/admin_home" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Home
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/bal_admin" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
              Balance
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/add_staff" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Add staff
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/manage_staff" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Manage staff
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/admin_loan_approval_view"  class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Approve 
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
        </li>
        <li class="nav-item">
          <a href="/cust_complain_message" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Complains
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
      </li>
      <li class="nav-item">
        <a href="/staff_leave_view" class="nav-link">
          <i class="nav-icon fas fa-tachometer-alt"></i>
          <p>
            Staff Leave request
            <i class="right fas fa-angle-left"></i>
          </p>
        </a>
    </li>
    <li class="nav-item">
      <a href="/cust_leave_view" class="nav-link">
        <i class="nav-icon fas fa-tachometer-alt"></i>
        <p>
          Customer Leave request
          <i class="right fas fa-angle-left"></i>
        </p>
      </a>
  </li>
  <li class="nav-item">
    <a href="/login" class="nav-link">
      <i class="nav-icon fas fa-tachometer-alt"></i>
      <p>
        Logout
        <i class="right fas fa-angle-left"></i>
      </p>
    </a>
</li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>